@import "../../.cache/wal/colors-waybar.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  min-height: 0;
}

window#waybar {
  background: rgba(10, 10, 10, 0.8);
  color: #ffffff;
  border-bottom: 1px solid #222222;
}

#custom-arch {
  font-size: 12px;
  padding: 0 8px;
  color: @color4;
}

#workspaces button {
  border: none;
  background: transparent;
  padding: 0px 5px;
  color: @color8;
}

#workspaces button.active {
  background: #222222;
  color: @color2;
}

#custom-cava {
  color: @color5;
  /* Added color to Cava */
  letter-spacing: -1.5px;
  padding: 0 5px;
}

#custom-playerctl {
  color: @color2;
  padding: 0 10px;
}

/* Restored colorful modules using Pywal variables */
#pulseaudio {
  color: @color3;
  padding: 0 6px;
}

#network {
  color: @color4;
  padding: 0 6px;
}

#battery {
  color: @color6;
  padding: 0 6px;
}

#clock {
  color: #ffffff;
  padding: 0 6px;
}
